
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    background-color: #fefefe ;
    color: #000;
    font-family: 'Poppins';
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 12px;
}

.flex{
  display: flex;
  flex-direction: row;
  gap: 12px;
  padding: 8px;
  justify-content: space-around;
}

h1 {
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 8px;
  width: 70%;
}

.item {
  background-color: #fff;
  border: 0px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  filter: drop-shadow(12px 24px 24px rgb(0 0 0 / 0.05));
  text-align: center;
}

ul{
  list-style: none;
}

#cart-items{
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
}

.cart-item{
  border: 1px solid #ccc;
  padding: 4px;
  border-radius: 8px;
}

.item img {
  width: 100%;
  max-height: 150px;
  object-fit: cover;
  margin-bottom: 2px;
}

.item p{
  margin: 0 0 0 0;
}

.item h3{
  margin: 0 0 0 0 ;
}

.cart {
  float: top;
  padding: 8px;
  height: 100%;
  width: 30%;
}

.cart h2 {
  text-align: center;
}

.cart button#checkout-btn {
  background-color: #66ff66;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  margin-top: 10px;
  cursor: pointer;
}

.cart button#checkout-btn:hover {
  background-color: #66ff66;
}

.add-items {
  margin-top: 40px;
  width: 30%;
}

.add-items h2 {
  text-align: center;
}

#add-item-form{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.add-items label {
  display: block;
  margin-bottom: 5px;
}

.add-items input[type="text"] {
  width: inherit;
  padding: 5px;
  margin-bottom: 10px;
}

.add-items button[type="submit"] {
  background-color: #66ff66;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
}

.add-items button[type="submit"]:hover {
  background-color: #66ff66;
}

.add-to-cart{
  background-color: #66ff66;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
}

#orders {
  background-color: #f5f5f5;
  border-radius: 12px;
  padding: 20px;
  width: 70%;
  margin-top: 20px;
}

#orders h2 {
  color: #000;
  font-size: 24px;
  margin-bottom: 10px;
}

#orderList {
  list-style: none;
  padding: 0;
}

#orderList li {
  margin-bottom: 10px;
}
  